@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700&display=swap');
body::-webkit-scrollbar {
  width: 2px;
}
html {
  font-family: 'Be Vietnam Pro', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
#main {
  height: auto;
  position: relative;
  transition: 0.7s;
  right: 0;
}

#header {
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 40px;
  transition: background-color 0.3s ease;
  z-index: 999999999;
}
.beta {
  background-color: #fff;
}

#nav {
  display: flex;
  padding-right: 17px;
  justify-content: center;
  align-items: center;
}

#nav li {
  padding-top: 20px;
  height: 100%;
}

#nav li :hover {
  background-image: url(https://file.hstatic.net/1000306633/file/269858510_400978881784237_2773069039765727977_n_1dec697e894b44028881c14c6507f7d8.png);
  background-size: 34px 38px;
  background-repeat: no-repeat;
  color: #000;
}

#nav li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.685);
  font-size: 0.6875em;
  height: 100%;
  padding: 20px 10px;
  margin-right: 12px;

  font-family: Arial, Helvetica, sans-serif;
}
#account_link {
  display: flex;
}

#account_link a {
  text-decoration: none;
  font-size: 0.6875em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
#tools :hover {
  color: #000;
}
#tools {
  display: flex;
  align-items: center;
}
#tools a {
  color: rgba(0, 0, 0, 0.685);
  text-decoration: none;
  font-size: 0.6875em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

#nav li a > #account_link li {
  display: inline-block;
}

#pic {
  display: flex;
}

#pic img {
  height: 55px;
  padding-right: 17px;
}
.h1 {
  width: 100%;
  display: flex;
  position: relative;
  z-index: 999;
}

.h2 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#tools .subnav {
  background-color: #000;
}

.subnav li a :active {
  background-color: #000;
}

#language {
  background-color: #000;
  color: #ccc;
}
.search1,
.shop {
  display: flex;
  background-color: transparent;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.6875em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: rgba(0, 0, 0, 0.685);
  cursor: pointer;
}

.slider {
}

.slider img {
  width: 100%;
  object-fit: cover;
}

.content {
}

.option {
  margin-bottom: 25px;
}

.content .option {
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.option img {
  width: 100%;
}
.content .item {
  padding: 0 3px;
}

.space {
  width: 32%;
}

.running-text {
  animation: runningAnimation 15s linear infinite;
  margin: 0 250px;
  display: flex;
  white-space: nowrap;
}
.slogan {
  width: 100%;
  display: flex;
  overflow: hidden;
  padding: 20px;
}

.slogan .running-text {
  font-size: 75px;
  font-style: italic;
  color: #fff;
  text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
}

@keyframes runningAnimation {
  from {
    transform: translateX(90%);
  }
  to {
    transform: translateX(-90%);
  }
}

.footer {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 25px;
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 20px;
}

.tieu_de {
  font-size: 14px;
  width: 100%;
  font-weight: bold;
  display: block;
  padding-right: 70px;
}
.rolln {
  margin-top: 30px;
}
.tieu_de p {
  width: 100%;
  font-size: 0.99rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  font-weight: normal;
  margin-bottom: 4px;
}

.tieu_de a {
  text-decoration: none;
  color: #000;
  margin-top: 50px;
  margin-bottom: 2px;
}

.messenge-text {
  color: aqua;
  line-height: 1.25;
  font-size: 15px;
  margin-bottom: 0;
  display: flex;
  height: 40px;
  background-color: #000;
  overflow: hidden;
  width: 200%;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 9999;
}
.running-mess {
  animation: runningAnimation 5s linear infinite;
  margin: 0 250px;
  display: flex;
  white-space: nowrap;
}
.messenge-text span {
  color: #fff;
  font-size: 10px;
}
.social {
  display: flex;
}
.fb i {
  display: inline-block;
  font-size: 35px;
  margin-right: 5px;
}
.tieu_de .tt img {
  width: 190px;
  margin: 0;
}
span {
  padding-left: 5px;
  padding-top: 5px;
}

.contain {
  position: fixed;
  width: 30vw;
  height: 100vh;
  top: 0;
  right: -32%;
  z-index: 999999999999999999;
  background-color: #fff;
  transition: 0.7s;
}
.font {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 70px 60px 70px 100px;
  font-size: 35px;
}
.looking {
  display: flex;
  font-size: 90px;
}
.looking input {
  font-size: 30px;
  padding: 14px;
  background-color: #ccc;
  border: none;
}
.looking input:focus {
  background-color: #fff;
}
.looking input::placeholder {
  font-size: 25px;
  letter-spacing: -2px;
}

.shopping-cart {
  width: 30%;
  height: 100vh;
  display: flex;
  background-color: #fff;
  top: 0;
  right: 0;
  position: fixed;
  height: 100wh;
  z-index: 99999999999999999;
  right: -31%;
  transition: 0.7s;
}
.cart {
  display: flex;
  width: 100%;
  position: relative;
  padding: 60px 70px 100px 70px;
  flex-direction: column;
  transition: 0.7s;
}

#icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  padding-right: 30px;
  padding-top: 25px;
}

.cart span {
  font-size: 17px;
  padding-top: 40px;
  font-size: 20px;
}
.shopping {
  padding-bottom: 30px;
}
.none {
  padding-top: 70px;
  padding-bottom: 40px;
}

.total {
  display: flex;
  padding-bottom: 30px;
  padding-right: 15px;
  justify-content: space-between;
}

.img-shop {
  width: 83px;
  height: 110px;
  border: 1px soild #000000;
}

#san-pham {
  display: flex;
  flex-direction: column;
  gap: 4px 0;
  justify-content: space-between;
}

.total-shop {
  display: flex;
  text-align: center;
}

.name-shop {
  flex: 1;
}

.around {
  display: flex;
  align-items: center;
  gap: 0 8px;
  padding-top: 15px;
  justify-content: space-between;
  position: relative;
}

.btn-xshop {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.btn-cart {
  width: 100%;
}
.xem,
.tinh-tien {
  width: 48%;
  color: #fff;
  background-color: #000;
  border: none;
  height: 50px;
}

.btn-cart :hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000000;
  transform: 0.4s;
}
.bgf {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.493);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: -70%;
  z-index: 9999999999999999999999;
  transition: 0.7s;
}
.active {
  right: 0;
}
.close {
  right: -30px;
}
.active2 {
  right: 30% !important;
}
.active3 {
  left: 0;
  transition: 0.7s;
}
